/* .formTable_ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto 0px auto;
     max-width: 1000px;
    min-width: 1000px; 
    
} */


/* table.formTable_ {
    min-width: 1000px;
    border-collapse: collapse;
    border: 1px solid rgb(40, 44, 52) !important;
    background-color: aquamarine;

}  */

/* td.formTable_ {
    min-width: 1000px;
     border-top: 1px solid rgb(40, 44, 52);
} */

/* .formTable_ th {
    width: 30px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgb(40, 44, 52);
}  */

/* .formTable_ td {
    width: 30px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgb(40, 44, 52);
}  */


.formTable_btn-neutral {
    cursor: pointer;
    color: white;
    height: 35px;
    background-color: rgb(97, 218, 251);
    border: 1px solid rgb(97, 218, 251);
    border-radius: 5px;
}

.formTable_btn-neutral-xl {
    cursor: pointer;
    color: white;
    height: 35px;
    width: 100px;
    background-color:  rgb(97, 218, 251);
    border: 1px solid rgb(97, 218, 251);
    border-radius: 5px;
}

.formTable_btn-neutral-xs {
    cursor: pointer;
    color: white;
    height: 35px;
    width: 50px;
    background-color:  rgb(97, 218, 251);
    border: 1px solid rgb(97, 218, 251);
    border-radius: 5px;
}


.formTable_btn-add {
    cursor: pointer;
    color: white;
    height: 35px;
    background-color: rgb(66, 155, 244);
    border: 1px solid rgb(66, 155, 244);
    border-radius: 5px;
}

.formTable_btn-add-xl {
    cursor: pointer;
    color: white;
    height: 35px;
    width: 250px;
    background-color: rgb(66, 155, 244);
    border: 1px solid rgb(66, 155, 244);
    border-radius: 5px;
    margin-bottom: 10px;
}


.formTable_btn-update {
    cursor: pointer;
    color: white;
    height: 35px;
    background-color: rgb(48, 149, 163);
    border: 1px solid rgb(48, 149, 163);
    border-radius: 5px;
}

.formTable_btn-delete {
    cursor: pointer;
    color: red;
    height: 35px;
    background-color: rgba(97, 218, 251, 0);
    border: 1px solid red;
    border-radius: 5px;
    /* padding: 10px; */
    text-align: center;
}

.formTable_btn-cancel {
    cursor: pointer;
    color: gray;
    height: 35px;
    background-color:rgba(97, 218, 251, 0);
    border: 1px solid gray;
    border-radius: 5px;
}

.formTable_btn-nop {
    cursor: pointer;
    color: white;
    height: 35px;
    background-color: rgb(66, 155, 244);;
    border: 1px solid gray;
    border-radius: 5px;
}

.formTable_need-margin{
    margin-top: 5px;
    margin-right: 5px;
   
}

/* td#cells_for_buttons{
background-color: aqua;
padding: -10px !important;

    width: 30px !important;
} */
